* {
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.root-app,
.core-component {
  width: 100%;
  height: 100vh;
  background-color: rgb(29, 29, 29);
}

.btn-btn {
  width: 100%;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  color: rgb(235, 235, 235);
  padding: 7px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-btn i {
  transition: 0.5s;
}
.btn-btn i:nth-child(2):hover {
  transform: translate(0%, 3px);
}
.btn-btn i:nth-child(3):hover {
  transform: translate(0%, 3px);
}
.btn-btn input {
  background-color: transparent;
  color: rgb(0, 208, 255);
  font-weight: 600;
  border: none;
  outline: none;
  text-align: center;
}

.btn-max {
  width: max-content !important;
  height: max-content !important;
}

.bg-primary {
  background-color: #2d2d2d !important;
}

.bg-secoundary {
  background-color: rgb(59, 59, 59) !important;
}

.bg-dark {
  background-color: rgb(29, 29, 29) !important;
}

.bg-white {
  background-color: rgb(235, 235, 235) !important;
}

.btn-primary {
  background-color: #2d2d2d;
}
.btn-primary:hover {
  background-color: rgb(80, 80, 80);
}

.btn-secoundary {
  background-color: rgb(59, 59, 59);
}
.btn-secoundary:hover {
  background-color: rgb(80, 80, 80);
}

.btn-white {
  background-color: rgb(235, 235, 235);
}
.btn-white:hover {
  background-color: rgb(235, 235, 235);
}

.text-primary-light {
  color: rgb(80, 80, 80) !important;
}
.text-primary-light:hover {
  color: rgb(235, 235, 235) !important;
}

.text-white {
  color: rgb(235, 235, 235) !important;
}
.text-white:hover {
  color: rgb(235, 235, 235) !important;
}

.text-dark {
  color: rgb(29, 29, 29) !important;
}
.text-dark:hover {
  color: rgb(29, 29, 29) !important;
}

.px-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-top-7 {
  padding-top: 7px;
}

.p-top-94 {
  padding-top: 94px;
}

.p-left-7 {
  padding-left: 7px;
}

.p-right-60 {
  padding-right: 60px;
}

.j-left {
  justify-content: left !important;
}

.j-center {
  justify-content: center !important;
}

.j-right {
  justify-content: right !important;
}

.j-space-around {
  justify-content: space-around !important;
}

.ai-center {
  align-items: center !important;
}

.ai-flex-start {
  align-items: flex-start !important;
}

.ts-12 {
  font-size: 12px;
}

.br-5 {
  border-radius: 5px;
}

.b-primary {
  border: 1px solid #2d2d2d;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.m-top-4 {
  margin-top: 4px;
}

.m-bottom-4 {
  margin-bottom: 4px;
}

.flex-column {
  flex-direction: column;
}

.text-left {
  text-align: left;
}

.p-0 {
  padding: 0 !important;
}

.html-canvas {
  margin-top: 94px;
  background: rgb(32, 32, 32);
  height: calc(100% - 94px);
  width: 100%;
  position: relative;
  z-index: 0;
}
.html-canvas .html-inner-center {
  transition: 0.3s;
  border: 1px solid rgb(32, 32, 32);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.html-canvas .html-inner-center .html-inner-title {
  color: rgb(235, 235, 235);
  font-size: 10px;
  font-weight: lighter;
}
.html-canvas .html-inner-center .html-inner-canvas {
  width: 300px;
  background-color: #2d2d2d;
  position: relative;
}
.html-canvas .html-inner-center .html-inner-canvas .html-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.html-canvas .html-inner-center .html-inner-canvas .html-image {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.render-canvas {
  margin-top: 94px;
  background: rgb(32, 32, 32);
  height: calc(100% - 94px);
  width: 100%;
  position: relative;
  z-index: 0;
}
.render-canvas .render-controller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.render-canvas .render-inner-center {
  transition: 0.3s;
  border: 1px solid rgb(32, 32, 32);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.render-canvas .render-inner-center .render-inner-canvas {
  background-color: #2d2d2d;
  position: relative;
}

.w-max-contant {
  width: max-content;
}

.com-none {
  width: 100%;
  height: 60px;
  border: 1px solid rgb(120, 120, 120);
  position: relative;
  text-align: center;
  color: rgb(120, 120, 120);
  display: flex;
  justify-content: center;
  align-items: center;
}

.com-empty {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.com-header {
  position: relative;
  width: 100%;
  height: 20px;
}
.com-header .inner {
  height: 20px;
  background: rgba(29, 29, 29, 0.737);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  bottom: 0;
  left: 25px;
  right: 25px;
  position: absolute;
  display: flex;
}
.com-header .inner .option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
}
.com-header .inner .option .circle,
.com-header .inner .option .circle2,
.com-header .inner .option .circle3 {
  aspect-ratio: 1/1;
  margin: 0 2px;
  width: 7px;
  height: 7px;
  border-radius: 999px;
  background: rgb(241, 53, 53);
}
.com-header .inner .option .circle2 {
  background: rgb(241, 144, 53);
}
.com-header .inner .option .circle3 {
  background: rgb(69, 241, 53);
}
.com-header .inner .label {
  flex: 1;
  font-size: 9px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.com-line, .com-footer {
  padding: 0 25px;
}
.com-line .inner, .com-footer .inner {
  color: white;
  padding: 0 5px;
  height: 20px;
  background: rgba(29, 29, 29, 0.737);
  font-size: 9px;
  display: flex;
  align-items: center;
}

.com-footer .inner {
  height: 20px;
  background: rgba(29, 29, 29, 0.737);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.com-highlight {
  width: 100%;
  border-color: rgb(54, 172, 245);
  border: 1px solid rgb(54, 172, 245);
}

.aspect-1-1 {
  aspect-ratio: 1/1;
  transition: 0.3s;
}

.aspect-9-16 {
  aspect-ratio: 9/16;
  transition: 0.3s;
}

.w-300 {
  width: 300px;
}

.pos-t-r-l {
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.pos-t-50 {
  top: 41.64px;
}

.options-box {
  z-index: 999;
  background-color: rgb(59, 59, 59);
  font-size: 12px;
  width: 200px;
  color: white;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  display: none;
}

.mh-150 {
  min-height: 150px;
}

.h-100 {
  height: 100px;
}

.text-left {
  text-align: left !important;
}

.pos-t-b {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
}

.pos-l {
  left: 0;
}

.pos-r {
  right: 0;
}

.d-flex {
  display: flex !important;
}

.block {
  flex: 1 !important;
}

.d-none {
  display: none !important;
}

.overflow-y {
  overflow-y: scroll;
}

.highlight {
  background-color: rgb(80, 80, 80) !important;
}

.flex-warp {
  flex-wrap: wrap;
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background-color: rgb(51, 51, 51);
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
  border-radius: 999px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 80);
}

/*# sourceMappingURL=style.css.map */
